.main-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hello-img{
    width: 200px;
    height: 200px;
}
.flex-content{
    width: 1000px;
    background-color: white;

}
