extends template
block content
    div.flex-content
        h2 HI, #{userName}
        img(src="https://libertycity.ru/uploads/download/gtasa_globalmods/fulls/3ho9d0f21dcder0k6tp1f7lkf6/14538918577735_1451780124_ppro2.jpg").hello-img
        br
        h3 Ur account updated now!!!CONGRATULATIONS!
        br
        hr
        h3 If u have some questions contact with us :
        a(href='#') CONTACT
