extends template
block content
    div.flex-content
        h2 HI, #{userName}
        img(src="https://ushki-ruchki.ru/uploads/images/h/e/l/hello.jpg").hello-img
        br
        h3 U have account now!!!CONGRATULATIONS!
        br
        hr
        h3 If u have some questions contact with us :
        a(href='#') CONTACT


