<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Err</title>
    </head>
    <body>
        <h2 style="color: red">err: <span >{{errType}}</span></h2>
        <button><a style="text-decoration: none" href="/registration">Registration</a></button>
        <button><a style="text-decoration: none" href="/login">Log in</a></button>
    </body>
</html>
